:root {
  --primary-color: #101728;
  --accent-color: rgb(253, 92, 1);
  --font-color: white;
  --gradient-linear-left: linear-gradient(13deg,
      rgba(253, 92, 1, 1) 0%,
      rgba(44, 17, 75, 1) 26%,
      rgba(16, 23, 40, 1) 59%,
      rgba(0, 0, 0, 1) 98%);
  --gradient-linear-right: linear-gradient(353deg,
      rgba(253, 92, 1, 1) 0%,
      rgba(44, 17, 75, 1) 26%,
      rgba(16, 23, 40, 1) 59%,
      rgba(0, 0, 0, 1) 98%);
  --box-shadow-left: -20px 13px 40px 2px var(--accent-color);
  --box-shadow-right: 20px 13px 40px 2px var(--accent-color);
  --box-shadow-center: 0px 10px 37px 5px var(--accent-color);
}

/* Integrate google fonts */

body {
  font-family: 'Montserrat', sans-serif;
  background-color: var(--primary-color);
  color: var(--font-color);
  margin: 0px auto 30px;
}

.navbar {
  font-size: 22px;
  height: 6rem;
  background-color: #101728;
  box-shadow: var(--box-shadow-center);
}

.navbar-brand {
  font-size: 26px;
  font-weight: 700;
}

header {
  margin-top: 50px;
}

h1 {
  font-size: 92px;
  font-weight: 600;
  margin-bottom: 30px;
  color: var(--accent-color);
}

h2 {
  font-size: 40px;
  margin-bottom: 30px;
  margin-top: 0px;
}

h3 {
  font-size: 28px;
  margin-bottom: 25px;
}

.navigation {
  display: flex;
  justify-content: left;
  align-items: center;
}

.navigation a {
  font-size: 20px;
  margin: 10px 20px 20px 0;
  border-radius: 30px;
  padding: 15px 20px;
  text-decoration: none;
  width: 190px;
}

.contact-button {
  background: var(--accent-color);
  color: var(--primary-color);
  border: 2px solid var(--accent-color);
}

.contact-button:hover {
  box-shadow: var(--box-shadow-center);
  color: var(--font-color);
}

.about-button {
  background: var(--primary-color);
  color: var(--font-color);
  border: 3px solid var(--accent-color);
}

.about-button:hover {
  box-shadow: var(--box-shadow-center);
  border-color: var(--font-color);
  color: var(--font-color);
}

.avatar {
  margin: 0 auto;
  max-width: 420px;
  height: auto;
}

.section-header {
  text-align: center;
  margin-top: 0px;
}

hr {
  border-top: 10px double var(--accent-color);
  color: var(--accent-color);
  text-align: center;
  margin: 0px;
}

.project-image {
  width: 100%;
  max-width: 490px;
  border-radius: 45px;
  filter: grayscale(70%);
}

.project-image:hover {
  filter: none;
}

.project-description-wraper {
  padding-left: 24px;
}

.project-name {
  font-size: 26px;
  text-decoration: underline var(--accent-color);
  text-decoration-thickness: 7px;
  text-underline-offset: 6px;
  margin-bottom: 18px;
}

.project-description {
  font-size: 17px;
  margin-bottom: 18px;
}

.text-accent {
  color: var(--accent-color);
  font-weight: 700;
}

.project-button {
  color: var(--font-color);
  font-size: 17px;
  border: 3px solid var(--accent-color);
  border-radius: 30px;
  padding: 15px 20px;
}

.project-button:hover {
  box-shadow: var(--box-shadow-center);
}

.contacts {
  margin: 30px auto;
  display: flex;
  justify-content: center;
}

.contact-icon {
  font-size: 35px;
  margin: 0px 20px;
  color: var(--font-color);
}

.contact-icon:hover {
  box-shadow: var(--box-shadow-center);
}

.signature {
  font-size: 14px;
  text-align: center;
}

.project-github {
  color: var(--accent-color);
  text-decoration: none;
}

.project-github:hover {
  color: var(--accent-color);
  text-decoration: underline;
}

.about-paragraph {
  font-size: 18px;
}

.email-link {
  font-size: 28px;
  color: var(--accent-color);
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}

/* styling for 4K */
@media (min-width: 1400px) {
  .project-image {
    max-width: 640px;
  }

  .project-name {
    font-size: 36px;
    margin-bottom: 25px;
  }

  .project-description {
    font-size: 24px;
    margin-bottom: 25px;
  }

  .project-button {
    font-size: 24px;
  }

  .navigation {
    margin-top: -25px;
  }

  .navigation a {
    width: 190px;
    font-size: 24px;
  }
}

/* styling for laptop */
@media (max-width: 1024px) {
  .navbar {
    font-size: 18px;
    height: 5rem;
  }

  .navbar-brand {
    font-size: 22px;

  }

  h1 {
    font-size: 69px;
  }

  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 21px;
    margin-bottom: 19px;
  }

  .avatar {
    max-width: 320px;
  }

  .navigation {
    margin-bottom: -19px;
  }

  .navigation a {
    font-size: 17px;
  }

  .project-image {
    max-width: 400px;
  }

  .project-description-wraper {
    padding-left: 12px;
    padding-right: 12px;
  }

  .project-description {
    font-size: 16px;
  }

  .project-name {
    font-size: 13px;
    margin-bottom: 13px;
  }

  .project-description {
    font-size: 13px;
    margin-bottom: 13px;
  }

  .project-button {
    font-size: 13px;
  }
}

/* styling for mobile and tablet */
@media (max-width: 767px) {

  h1,
  h2,
  h3 {
    text-align: center;
  }

  .avatar {
    margin-top: 10px;
  }

  .navigation {
    justify-content: center;
    margin-top: 20px;
  }

  .navigation a {
    display: block;
    margin: 0 auto;
  }

  .project-image {
    display: none;
    /* margin: 0 auto; */
  }

  .project-description-wraper {
    margin-top: 15px;
  }

  .project-name {
    margin-top: 0;
  }

  .project-description {
    text-align: center;
  }

  .project-button {
    display: block;
    width: 25%;
    min-width: 105px;
    margin: 10px auto 0;
  }

  .contact-icon {
    font-size: 25px;
  }

  .signature {
    font-size: 10px;
  }
}