:root {
  --primary-color: #101728;
  --accent-color: rgb(224, 75, 130);
  --font-color: white;
  --gradient-linear-left: linear-gradient(13deg,
      rgba(201, 90, 131, 1) 0%,
      rgba(44, 17, 75, 1) 26%,
      rgba(16, 23, 40, 1) 59%,
      rgba(0, 0, 0, 1) 98%);
  --gradient-linear-right: linear-gradient(353deg,
      rgba(201, 90, 131, 1) 0%,
      rgba(44, 17, 75, 1) 26%,
      rgba(16, 23, 40, 1) 59%,
      rgba(0, 0, 0, 1) 98%);
  --box-shadow-left: -20px 13px 40px 2px var(--accent-color);
  --box-shadow-right: 20px 13px 40px 2px var(--accent-color);
  --box-shadow-center: 0px 10px 37px 5px var(--accent-color);
}

/* Integrate google fonts */

* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: var(--primary-color);
  color: var(--font-color);
  margin: 0px auto 30px;
}

.navbar {
  font-size: 22px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #101728;
  box-shadow: var(--box-shadow-center);
}

.navbar-brand {
  font-size: 26px;
  font-weight: 700;
}

header {
  padding-top: 30px;
}

h1 {
  font-size: 86px;
  font-weight: 600;
  margin-bottom: 30px;
  color: var(--accent-color);
}

h2 {
  font-size: 36px;
  margin-bottom: 30px;
}

h3 {
  font-size: 26px;
  margin-bottom: 25px;
}

.navigation {
  display: flex;
  justify-content: left;
  align-items: center;
}

.navigation a {
  font-size: 22px;
  margin: 10px 20px 20px 0;
  border-radius: 30px;
  padding: 15px 20px;
  text-decoration: none;
  width: 190px;
}

.contact-button {
  background: var(--accent-color);
  color: var(--primary-color);
  border: 2px solid var(--accent-color);
}

.contact-button:hover {
  box-shadow: var(--box-shadow-center);
  color: var(--font-color);
}

.about-button {
  background: var(--primary-color);
  color: var(--font-color);
  border: 3px solid var(--accent-color);
}

.about-button:hover {
  box-shadow: var(--box-shadow-center);
  border-color: var(--font-color);
  color: var(--font-color);
}


.resume {
  font-size: 22px;
  margin: 10px 20px 20px 0;
  border-radius: 30px;
  padding: 15px 20px;
  text-decoration: none;
}

.section-header {
  text-align: center;
  margin-top: 0px;
}

hr {
  border-top: 10px double var(--accent-color);
  color: var(--accent-color);
  text-align: center;
  margin: 0px;
}

.project-image {
  width: 100%;
  border-radius: 45px;
  filter: grayscale(70%);
}

.project-image:hover {
  filter: none;
}

.technology-plate {
  max-width: 90%;
  padding: 15px;
  border: 2px solid var(--font-color);
  border-radius: 15px;
  background: var(--accent-color);
  position: relative;
  top: -70px;
}

.technology-plate i {
  font-size: 36px;
  margin: 5px;
}

.project-description-wraper {
  padding-left: 24px;
}

.project-name {
  font-size: 26px;
  text-decoration: underline var(--accent-color);
  text-decoration-thickness: 7px;
  text-underline-offset: 6px;
  margin-bottom: 18px;
}

/* .project-description {
  font-size: 17px;
  margin-bottom: 18px;
} */

.text-accent {
  color: var(--accent-color);
  font-weight: 700;
}

.project-button {
  color: var(--font-color);
  font-size: 18px;
  border: 3px solid var(--accent-color);
  border-radius: 30px;
  padding: 15px 20px;
}

.project-button:hover {
  box-shadow: var(--box-shadow-center);
}

.project-github-button {
  color: var(--font-color);
  font-size: 18px;
  border: 3px solid var(--accent-color);
  border-radius: 30px;
  padding: 15px 20px;
  margin-left: 10px;
}

.project-github-button:hover {
  box-shadow: var(--box-shadow-center);
}

#modal-container {
  position: fixed;
  padding: 20px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);

  /* to show it above other content */
  z-index: 999;

  /* to allow scrolling if the screen is not high enough*/
  overflow: auto;

  /* this is used to center the modal */
  display: grid;
  text-align: center;
}

.case-study-modal {
  margin: 80px auto;
  display: inline-block;
  box-sizing: border-box;
  background: #fff;
  padding: 20px 30px;
  width: 100%;
  max-width: 1100px;
  text-align: left;
  border-radius: 15px;
  color: var(--primary-color)
}

.header-modal {
  font-size: 36px;
  font-weight: 700;
  color: var(--primary-color);
  text-decoration: underline var(--accent-color);
  text-decoration-thickness: 7px;
  text-underline-offset: 6px;
  margin-bottom: 18px;
  margin-bottom: 8px;
}

.subheader-modal {
  font-size: 30px;
  margin-bottom: 0;
}

.chapter-modal {
  border-bottom: 5px solid var(--accent-color);
  font-weight: 600;
}

.modal-close {
  text-align: right;
  font-size: 30px;
  border: 0;
  background: none;
  color: var(--primary-color);
  text-decoration: underline;
}

.button-modal {
  color: var(--primary-color);
  width: fit-content !important;
}

.case-study-tools i {
  color: var(--primary-color) !important;
  font-size: 43px;
}
.case-study-tools p {
  font-size: 18px;
}



.contacts {
  margin: 30px auto;
  display: flex;
  gap: 20px;
  justify-content: center;
}

.contact-icon {
  font-size: 35px;
  color: var(--font-color);
}

.contact-icon:hover {
  box-shadow: var(--box-shadow-center);
}

.signature {
  font-size: 14px;
  text-align: center;
}

.impressum {
  font-size: 14px;
  text-align: center;
  color: var(--accent-color);
}

.impressum-link {

  color: var(--accent-color);
}

.project-github {
  color: var(--accent-color);
  text-decoration: none;
}

.project-github:hover {
  color: var(--accent-color);
  text-decoration: underline;
}

.about-paragraph {
  font-size: 16px;
}

.email-link {
  font-size: 28px;
  color: var(--accent-color);
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}

.header-page h1 {
  color: var(--font-color);
  font-size: 66px;
}

.header-page h2 {
  color: var(--accent-color);
}

.contact-page-header i {
  font-size: 40px;
}

.skillset i {
  display: block;
  font-size: 48px;
  color: var(--font-color);
}

/* styling for 4K */
@media (min-width: 1400px) {
  .project-name {
    font-size: 36px;
    margin-bottom: 25px;
  }

  .project-description {
    font-size: 24px;
    margin-bottom: 25px;
  }

  .project-button {
    font-size: 24px;
  }

  .project-github-button {
    font-size: 24px;
  }

  .navigation a {
    width: 190px;
    font-size: 24px;
  }
}

/* styling for laptop */
@media (max-width: 1024px) {
  .navbar {
    font-size: 18px;
    height: 5rem;
  }

  .navbar-brand {
    font-size: 22px;
  }

  h1 {
    font-size: 61px;
  }

  .header-page h1 {
    font-size: 46px;
  }

  h2 {
    font-size: 29px;
  }

  .header-page h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 21px;
    margin-bottom: 19px;
  }

  .technology-plate i {
    font-size: 29px;
  }

  .about-paragraph {
    font-size: 14px;
  }


  /* .navigation {
    margin-bottom: -19px;
  } */

  .navigation a {
    font-size: 17px;
  }

  .project-image {
    max-width: 400px;
  }

  .project-description-wraper {
    padding-left: 12px;
    padding-right: 12px;
  }

  /* .project-description {
    font-size: 16px;
  } */

  .project-name {
    font-size: 16px;
    margin-bottom: 13px;
  }

  .project-description {
    font-size: 13px;
    margin-bottom: 13px;
  }

  .project-button {
    font-size: 13px;
  }

  .project-github-button {
    font-size: 13px;
  }

  .header-modal {
    font-size: 26px;
  }

  .subheader-modal {
    font-size: 22px;
  }

  .modal-close {
    font-size: 22px;
  }

  .project-description-modal {
    font-size: 16px;
    margin-bottom: 15px;
  }
}

/* styling for mobile and tablet */
@media (max-width: 767px) {
  .navbar-collapse {
    padding: 20px;
    background-color: var(--primary-color);
    border: 3px solid rgba(255, 255, 255, 0.1);
    ;
    border-radius: 20px;
    margin-top: 10px;
  }

  h1,
  h2,
  h3 {
    text-align: center;
  }

  .about-paragraph {
    font-size: 14px;
  }

  .navigation {
    justify-content: center;
    margin-top: 20px;
    gap: 5px;
  }

  .navigation a {
    display: block;
    margin: 0 auto;
  }

  .project-description-wraper {
    margin-top: 15px;
  }

  .project-name {
    margin-top: 0;
  }

  .project-description {
    text-align: center;
  }

  .project-button {
    display: block;
    width: 25%;
    min-width: 105px;
    margin: 10px auto 0;
  }

  .project-github-button {
    display: block;
    width: 25%;
    min-width: 105px;
    margin: 10px auto 0;
  }

  .contact-icon {
    font-size: 25px;
  }

  .signature {
    font-size: 10px;
  }

  .header-modal {
    font-size: 22px;
    text-align: left;
    line-height: 150%;
  }

  .subheader-modal {
    font-size: 16px;
  }

  .modal-close {
    font-size: 16px;
  }

  .project-description-modal {
    font-size: 13px;
  }

  .paragraph-modal {
    text-align: left;
  }
  .case-study-tools p {
    font-size: 13px;
  }
  .case-study-tools i {
    font-size: 36px;
  }
}

/* styling for super small device */
@media (max-width: 360px) {
  h1 {
    font-size: 45px;
  }

  h2 {
    font-size: 23px;
    margin-bottom: 20px;
  }

  h3 {
    font-size: 16px;
    margin-bottom: 0px;
  }

  .navigation {
    flex-direction: column;
    gap: 8px;
  }
}